@layer components {
  .ripple {
    @apply relative isolate inline-grid appearance-none place-items-center overflow-hidden;
    &::before {
      @apply absolute -z-10 aspect-square w-full rounded-full bg-white opacity-50 content-[''];
      top: var(--y);
      left: var(--x);
      transform: translate(-50%, -50%) scale(0);
    }

    &.ripple-dark::before {
      @apply bg-black opacity-40;
    }
  }

  .pulse::before {
    animation: pulse 500ms;
  }

  @keyframes pulse {
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }
}
